@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style tambahan untuk card */
.card {
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

